body {
    margin: 0;
}
header {
    height: 6rem;
    background-color: #333;
}

div.banner {
    height: 24rem;
    background-color: #6b3;
}

.content {
    width: 960px;
    margin: 0 auto;
}
header div.content {
    display: flex;
    color: #fff;
}
header h1 {
    flex: 1 1 auto;
    margin: 0;
    line-height: 6rem;
}
header ul {
    flex: 0 0 auto;
}
header li {
    display: inline-block;
}
a:link {
    color: inherit;
    list-style-type: none;
}
.banner div.content {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-flow: row;
    height: 100%;
}
.banner span {
    font-size: 0.5em;
    margin: 0.8em 0.2em;
    padding: 0.4em 0.6em;
    background-color: #fff;
    opacity: 0.5;
    border: 1px solid #222;
}
.banner span.active {
    padding-top: 1.3em;
    opacity: 0.8;
}
nav {
    border-bottom: 1px solid #dedede;
    margin-top: 1em;
}
nav div.content {
    display: flex;
    
}

nav a {
    text-decoration: none;
    padding: 2em;
    border: 1px solid #dedede;
}