
section.feature-1 {
    padding: 4em 0;
    width: 1108px;
    margin: 0 auto;
    color: inherit;
    font-family: Montserrat, sans-serif;
}

section.feature-1 > p {
    font-size: 0.9em;
    letter-spacing: .12em;
    text-transform: uppercase;
    text-align: center;
    padding-bottom: 1em;
}

section.feature-1 h2 {
    text-align: center;
    width: 720px;
    margin: 0 auto;
}

section.feature-1 .container {
    display: flex;
    flex-flow: row wrap;
    margin: 3em 0;
}

section.feature-1 .container > div{
    flex: 1 1 400px;
    margin: 2em;
    /*vertical-align: top;*/
}

section.feature-1 .description {
    overflow: hidden;
}

section.feature-1 .description h3{
    font-size: 1.5em;
    font-weight: 400;
    line-height: 1;
    margin: 0 0 0.8em;
}

section.feature-1 .description p{
    font-size: 0.9em;
    line-height: 1.6;
    font-weight: 1;
    text-align: left;
}

section.feature-1 img{
    float: left;
    margin-right: 2em;
}
